
body{
    background-color: #d3d3d3;
    font-family: 'Oxygen', sans-serif;
}
label{
    margin-bottom: 15px;
    margin-top: 15px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container{
    height: 80px;
}
#header{
    height: 75px;
    background: #FFFFFF;
}
#header li{
    float: left;
}
#header li a{
    display: block;
    color: #231F20;
    text-align: center;
    padding: 26px 16px;
    text-decoration: none;
    font-size: 1.19em;
    font-weight: 699;
}
#header li a:last-child{
    border-right: none;    
}
#header li a:hover{
    color: #FFFFFF;
    border-top: 3px solid #e41e26;
    background: #4a4b50;
}
#header .dropdown-menu li{
    border-top: 3px solid transparent;
    width: 100%;
}
#header .dropdown-menu li a{
    height: 45px;
    line-height: 40px;
    display: block;
    position: relative;
    color: #3e3f47;
    padding-left: 25px;
    font-size: .85714em;
    padding: 0 20px;
    color: #333;
    float: left;
    width: 100%;
    text-align: left;
}
#header .dropdown-menu li a:hover{
    color: #E75157;
    background: #EFEEEE;
    border-top: none;    
}

#content{
    background: #EFEFEF;
    height: 1000px;
}
#footer{
    background: #393939;
    height: 50px;
    border-top: 3px solid #e41e26;
}
#footer li{
    float: left;
}

#footer li a{
    display: block;
    color: #bdbcbc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#footer li a:hover{
    color: #C92E33;
    background: none;
    text-decoration: none;
}